node-red-raspberry-flow.json
[
    {
        "id": "713a3800.9c78c8",
        "type": "debug",
        "z": "5c9cb291.0354cc",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 386.8333740234375,
        "y": 291.83331298828125,
        "wires": []
    },
    {
        "id": "e6418e7f.2443e8",
        "type": "watson-text-to-speech",
        "z": "5c9cb291.0354cc",
        "name": "TTS EN",
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "en-US_AllisonVoice",
        "voicehidden": "en-US_AllisonVoice",
        "format": "audio/wav",
        "password": "",
        "x": 885.666748046875,
        "y": 490,
        "wires": [
            [
                "86b1e3a1.0b3a28"
            ]
        ]
    },
    {
        "id": "acd2424a.d6a0c",
        "type": "switch",
        "z": "5c9cb291.0354cc",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tts",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "outputs": 3,
        "x": 514.1667785644531,
        "y": 377.91656494140625,
        "wires": [
            [
                "b1f063d9.23bc98"
            ],
            [
                "a28461c8.772478"
            ],
            [
                "df1f1c9b.fd60a"
            ]
        ]
    },
    {
        "id": "42930cd5.3b7764",
        "type": "file",
        "z": "5c9cb291.0354cc",
        "name": "",
        "filename": "/home/pi/tts.wav",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 1333.75,
        "y": 489.49993896484375,
        "wires": []
    },
    {
        "id": "86b1e3a1.0b3a28",
        "type": "change",
        "z": "5c9cb291.0354cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "to": "speech",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1105.75,
        "y": 491.49993896484375,
        "wires": [
            [
                "42930cd5.3b7764",
                "b70cf1f4.564578",
                "904f0625.cca768"
            ]
        ]
    },
    {
        "id": "b70cf1f4.564578",
        "type": "debug",
        "z": "5c9cb291.0354cc",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1325.75,
        "y": 419.49993896484375,
        "wires": []
    },
    {
        "id": "904f0625.cca768",
        "type": "delay",
        "z": "5c9cb291.0354cc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1293.75,
        "y": 590.4999389648438,
        "wires": [
            [
                "e18d342d.57987"
            ]
        ]
    },
    {
        "id": "f1bbe500.c32de8",
        "type": "websocket in",
        "z": "5c9cb291.0354cc",
        "name": "From Bluemix",
        "server": "",
        "client": "781d8122.9d7c2",
        "x": 191.5,
        "y": 380.25,
        "wires": [
            [
                "713a3800.9c78c8",
                "3c155ac4.316a46"
            ]
        ]
    },
    {
        "id": "df1f1c9b.fd60a",
        "type": "change",
        "z": "5c9cb291.0354cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 676.5,
        "y": 489.75,
        "wires": [
            [
                "e6418e7f.2443e8"
            ]
        ]
    },
    {
        "id": "3c155ac4.316a46",
        "type": "json",
        "z": "5c9cb291.0354cc",
        "name": "",
        "x": 362.5,
        "y": 378.75,
        "wires": [
            [
                "acd2424a.d6a0c"
            ]
        ]
    },
    {
        "id": "e18d342d.57987",
        "type": "playaudio",
        "z": "5c9cb291.0354cc",
        "name": "Play Audio",
        "bulb_ip": "192.168.0.25",
        "bulb_uri": "http://192.168.0.16:1880/tts.wav",
        "x": 1519.5,
        "y": 590.5,
        "wires": [
            []
        ]
    },
    {
        "id": "a2fcf175.092a38",
        "type": "color",
        "z": "5c9cb291.0354cc",
        "name": "color",
        "method": "get",
        "bulb_ip": "192.168.0.25",
        "bulb_red": "128",
        "bulb_green": "128",
        "bulb_blue": "128",
        "x": 853.5,
        "y": 252.5,
        "wires": [
            [
                "ebe04cdd.752d"
            ]
        ]
    },
    {
        "id": "ebe04cdd.752d",
        "type": "switchonoff",
        "z": "5c9cb291.0354cc",
        "name": "Switch On/Off",
        "method": "set",
        "bulb_ip": "192.168.0.25",
        "bulb_state": "on",
        "x": 1030.5,
        "y": 251.5,
        "wires": [
            []
        ]
    },
    {
        "id": "a28461c8.772478",
        "type": "switchonoff",
        "z": "5c9cb291.0354cc",
        "name": "Switch On/Off",
        "method": "set",
        "bulb_ip": "192.168.0.25",
        "bulb_state": "off",
        "x": 725,
        "y": 369,
        "wires": [
            []
        ]
    },
    {
        "id": "e1a75bd2.8b8378",
        "type": "debug",
        "z": "5c9cb291.0354cc",
        "name": "Color",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 856.5,
        "y": 179.5,
        "wires": []
    },
    {
        "id": "b1f063d9.23bc98",
        "type": "function",
        "z": "5c9cb291.0354cc",
        "name": "",
        "func": "\n\nmsg.payload.bulb_red = msg.payload.color.r;\nmsg.payload.bulb_green = msg.payload.color.g;\nmsg.payload.bulb_blue = msg.payload.color.b;\nmsg.payload.method = \"set\";\n//msg.payload.bulb_ip = '192.168.0.20';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 692,
        "y": 248,
        "wires": [
            [
                "a2fcf175.092a38",
                "e1a75bd2.8b8378"
            ]
        ]
    },
    {
        "id": "781d8122.9d7c2",
        "type": "websocket-client",
        "z": "",
        "path": "ws://YOUR_NODE_RED_APP_NAME.mybluemix.net/ws/voiceControl",
        "wholemsg": "false"
    }
]